<ul class="footer-nav list-inline">
	<li><a href="<?php echo $this->Html->url('/corporation'); ?>">会社概要</a></li>
	<li><a href="<?php echo $this->Html->url('/terms'); ?>">利用規約</a></li>
	<li><a href="<?php echo $this->Html->url('/privacy'); ?>">個人情報保護方針</a></li>
</ul>
