<div class="masthead">
	<div class="container">
		<div class="top-image">
			<?php echo $this->Html->image('main.jpg', array('alt' => 'Jobアルク', 'class' => 'hidden-xs')); ?>
			<?php echo $this->Html->image('top_photo.jpg', array('alt' => 'Jobアルク', 'class' => 'visible-xs')); ?>
		</div>
	</div>
</div>
