<div class="blog2 widget">
	<a href="#">
		<h4><?php echo $this->Html->image('logo_guide.png', array('alt' => 'jobアルク')); ?></h4>
		<span>スタッフBLOG</span>
		<i class="fa fa-chevron-right"></i>
	</a>
</div>
