<div class="guide2 widget">
	<a href="<?php echo $this->Html->url('/guide'); ?>">
		<h4><?php echo $this->Html->image('logo_guide.png', array('alt' => 'jobアルク')); ?></h4>
		<span>ご利用ガイド</span>
		<i class="fa fa-chevron-right"></i>
	</a>
</div>
