<?php
// 勤務形態リストを取得
$kinmu_keitais = Configure::read('kinmu_keitai');
?>
<div class="row">
	<div class="col-xs-12 contents-actions">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">勤務形態別コンテンツ一覧</a></li>
			<!-- 全ての勤務形態を作り終わったら新規投稿リンクを表示しない -->
			<?php if ($this->Paginator->counter('{:count}') != count($kinmu_keitais)) { ?>
				<li><a href="<?php echo $this->Html->url('/admin/contents/employmentContents/add'); ?>">勤務形態別コンテンツを新規登録</a></li>
			<?php } ?>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">

		<div class="panel panel-default">
			<div class="panel-heading">公開画面用貼り付けコード</div>
			<div class="panel-body">
				<div class="well well-sm" style="margin:0;"><?php echo h("<?php echo $" . "employmentContent['EmploymentContent']['content']; ?>"); ?></div>
			</div>
		</div>

	</div>
</div>


<div class="row">
	<div class="col-xs-12">

		<div class="panel panel-default">
			<div class="panel-heading">勤務形態別コンテンツ一覧</div>
			<div class="panel-body">

				<table class="table table-striped">
					<thead>
						<tr>
							<th><?php echo $this->Paginator->sort('employment_id', '勤務形態'); ?></th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach ($employmentContents as $employmentContent) : ?>
						<tr>
							<td><?php echo $kinmu_keitais[$employmentContent[$model]['employment_id']]; ?></td>
							<td>
								<ul class="list-inline">
									<li><?php echo $this->Html->link('編集', array('action' => 'edit', $employmentContent[$model]['id'])); ?></li>
									<li><?php echo $this->Form->postLink('削除', array('action' => 'delete', $employmentContent[$model]['id']), '', '本当に削除しますか？元には戻せません'); ?></li>
								</ul>
							</td>
						</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
				<div class="text-center">
					<?php echo $this->Paginator->pagination(array('ul' => 'pagination')); ?>
				</div>

			</div>
		</div>

	</div>
</div>