<?php
    // ページタイトル
    $page_title = '熊本 - 友人に教えたくなる介護士の求人・転職情報サイト【Jobアルク介護士】';
    $this->assign('title', $page_title);
    // 使用レイアウト
    $this->layout = 'cw';
?>
<div id="masthead" class="section">
    <div class="container">
        <?php echo $this->Html->image('Landing.cw_kumamoto_masthead.png', array('alt' => '熊本の介護の仕事探しならおまかせください。好条件求人を最短１日でご紹介します。地元に密着したサポートが特徴で地域最大の求人数の中からお探しの求人が見つけましょう。')); ?>
    </div>
</div>

<div class="point section">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 point-item"><?php echo $this->Html->image('Landing.cm_point01.png', array('alt' => 'POINT.1 残業少なめ')); ?></div>
            <div class="col-xs-6 point-item"><?php echo $this->Html->image('Landing.cm_point02.png', array('alt' => 'POINT.2 給料アップ')); ?></div>
        </div>
        <div class="row">
            <div class="col-xs-6 point-item"><?php echo $this->Html->image('Landing.cm_point03.png', array('alt' => 'POINT.3 休みが豊富')); ?></div>
            <div class="col-xs-6 point-item"><?php echo $this->Html->image('Landing.cm_point04.png', array('alt' => 'POINT.4 人気のオープニング')); ?></div>
        </div>
    </div>
</div>

<div id="form-wizard" class="section">
    <div class="container">
        <div class="form-box">
            <h2 class="form-title"><?php echo $this->Html->image('Landing.form_title.png', array('alt' => '簡単30秒!無料web登録')); ?></h2>
            <div class="form-inner">
                <?php
                    echo $this->Form->create('Customer', array(
                        'inputDefaults' => array('label' => false, 'div' => false),
                        'id' => 'landing-form',
                        'class' => 'form-horizontal',
                        'url' => '/landing/forms'
                    ));
                ?>
                <div id="landing-form-content">
                    <h3>保有資格</h3>
                    <section>
                        <h4 class="question">あなたの保有資格を選択してください<br><span>(※複数選択可)</span></h4>
                        <div class="answer">
                            <div id="shikaku_error"></div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <input type="checkbox" name="data[Customer][shikaku][]" value="4" id="CustomerShikaku4" data-validation-engine="validate[minCheckbox[1]]" data-prompt-target="shikaku_error">
                                        <label for="CustomerShikaku4">介護福祉士</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <input type="checkbox" name="data[Customer][shikaku][]" value="8" id="CustomerShikaku8" data-validation-engine="validate[minCheckbox[1]]" data-prompt-target="shikaku_error">
                                        <label for="CustomerShikaku8">ヘルパー</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <input type="checkbox" name="data[Customer][shikaku][]" value="6" id="CustomerShikaku6" data-validation-engine="validate[minCheckbox[1]]" data-prompt-target="shikaku_error">
                                        <label for="CustomerShikaku6">ケアマネ</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <input type="checkbox" name="data[Customer][shikaku][]" value="20" id="CustomerShikaku20" data-validation-engine="validate[minCheckbox[1]]" data-prompt-target="shikaku_error">
                                        <label for="CustomerShikaku20">その他</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <h3>雇用形態</h3>
                    <section>
                        <h4 class="question">ご希望の雇用形態を選択してください</h4>
                        <div class="answer mb30">
                            <div id="kibouwork_error"></div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <input type="checkbox" name="data[Customer][kibouwork][]" value="35" id="CustomerKibouwork35" data-validation-engine="validate[minCheckbox[1]]" data-prompt-target="kibouwork_error">
                                        <label for="CustomerKibouwork35">常勤(夜勤可)</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <input type="checkbox" name="data[Customer][kibouwork][]" value="36" id="CustomerKibouwork36" data-validation-engine="validate[minCheckbox[1]]" data-prompt-target="kibouwork_error">
                                        <label for="CustomerKibouwork36">日勤常勤</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <input type="checkbox" name="data[Customer][kibouwork][]" value="37" id="CustomerKibouwork37" data-validation-engine="validate[minCheckbox[1]]" data-prompt-target="kibouwork_error">
                                        <label for="CustomerKibouwork37">夜勤バイト</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <input type="checkbox" name="data[Customer][kibouwork][]" value="38" id="CustomerKibouwork38" data-validation-engine="validate[minCheckbox[1]]" data-prompt-target="kibouwork_error">
                                        <label for="CustomerKibouwork38">日勤バイト</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <input type="checkbox" name="data[Customer][kibouwork][]" value="39" id="CustomerKibouwork39" data-validation-engine="validate[minCheckbox[1]]" data-prompt-target="kibouwork_error">
                                        <label for="CustomerKibouwork39">その他</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="question">転職を希望する時期を選択してください</h4>
                        <div class="answer">
                            <div class="radio-style clearfix">
                                <div class="radio">
                                    <input type="radio" name="data[Customer][kinmukaishijiki]" value="6" checked="checked" id="CustomerKinmukaishijiki6">
                                    <label for="CustomerKinmukaishijiki6">いますぐ</label>
                                    <div class="check"></div>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="data[Customer][kinmukaishijiki]" value="1" id="CustomerKinmukaishijiki1">
                                    <label for="CustomerKinmukaishijiki1">3ヶ月以内</label>
                                    <div class="check"></div>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="data[Customer][kinmukaishijiki]" value="7" id="CustomerKinmukaishijiki7">
                                    <label for="CustomerKinmukaishijiki7">年度末</label>
                                    <div class="check"></div>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="data[Customer][kinmukaishijiki]" value="8" id="CustomerKinmukaishijiki8">
                                    <label for="CustomerKinmukaishijiki8">その他</label>
                                    <div class="check"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <h3>住所</h3>
                    <section>
                        <h4 class="question">お住まい、生まれた年を入力してください</h4>
                        <div class="answer">
                            <div class="form-group zip">
                                <?php echo $this->Form->label('zip', '郵便番号', array('class' => 'control-label col-xs-3')); ?>
                                <div class="col-xs-9">
                                    <?php echo $this->Form->input('zip', array('type' => 'text', 'wrapInput' => false, 'class' => 'form-control', 'placeholder' => '例）000-0000')); ?>
                                    <div class="addon">※ハイフンなしOK</div>
                                </div>
                            </div>
                            <div id="birth_error"></div>
                            <div class="form-group birth">
                                <?php echo $this->Form->label('Customer.birth.year', '生まれ年', array('class' => 'control-label col-xs-3')); ?>
                                <div class="col-xs-9">
                                    <?php echo $this->Form->year('Customer.birth.year', '1958', date('Y') - 18, array('class' => 'form-control', 'empty' => '西暦', 'data-validation-engine' => 'validate[required]', 'data-prompt-target' => 'birth_error')); ?>
                                    <div class="addon">年生まれ</div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <h3>連絡先</h3>
                    <section>
                        <h4 class="question">お名前、ご連絡先を入力してください</h4>
                        <div class="answer">
                            <div class="form-group">
                                <?php echo $this->Form->label('name', 'お名前', array('class' => 'control-label col-xs-3')); ?>
                                <div class="col-xs-9">
                                    <?php echo $this->Form->input('name', array('type' => 'text', 'class' => 'form-control', 'placeholder' => '例）熊本花子', 'data-validation-engine' => 'validate[required]')); ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <?php echo $this->Form->label('hurigana', 'フリガナ', array('class' => 'control-label col-xs-3')); ?>
                                <div class="col-xs-9">
                                    <?php echo $this->Form->input('hurigana', array('type' => 'text', 'class' => 'form-control', 'placeholder' => '例）クマモトハナコ', 'data-validation-engine' => 'validate[required,custom[onlyKatakana]]')); ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <?php echo $this->Form->label('keitai_tel', '電話番号', array('class' => 'control-label col-xs-3')); ?>
                                <div class="col-xs-9">
                                    <?php echo $this->Form->input('keitai_tel', array('type' => 'text', 'class' => 'form-control', 'placeholder' => '例）000-0000-0000', 'data-validation-engine' => 'validate[required,minSize[9],maxSize[13],custom[phone]]')); ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <?php echo $this->Form->label('email', 'メール', array('class' => 'control-label col-xs-3')); ?>
                                <div class="col-xs-9">
                                    <?php echo $this->Form->input('email', array('type' => 'email', 'class' => 'form-control', 'placeholder' => '例）jobalk@info.jp', 'data-validation-engine' => 'validate[required, custom[email]]')); ?>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="actions clearfix">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" id="stepsPrev" class="btn btn-block disabled" disabled="disabled"><span>もどる</span></button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" id="stepsNext" class="btn btn-block"><span>つぎへ</span></button>
                            <button type="button" id="stepsFinish" class="btn btn-block"><span>登録する</span></button>
                        </div>
                    </div>
                </div>
                <?php echo $this->Form->end(); ?>
            </div>
        </div>
    </div>
</div>

<div class="contact-banner section">
    <div class="container">
        <?php echo $this->Html->link($this->Html->image('Landing.contact_banner01.png'), 'tel:0120016898', array('escape' => false)); ?>
    </div>
</div>