/**
*   20190620 sohnishi
*   フォーム用CSS(詳細画面以外)
*/

/**
*   フォーム全体を中央寄せ
*/
#contents {
    width: 100%;
    text-align: center;
}
/**
*   郵便番号インプットを中央寄せしない
*/
#post_number_wrap {
    text-align: initial;
}

/**
 *  詳細画面以外のフォームではアクションボタンの上マージンを消す
 */
#landing-form .actions .row {
    margin-top: 0px;
}
#landing-form .actions .col-xs-6 {
    margin-top: 0px;
}

/**
 *  詳細画面以外のフォームでは下マージンを下げる
 */
@media (max-width: 480px) {
    #form-wizard {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}

/**
 *  フォームはFooterをCopyrightのみとするためHeight調整
 */
.footer_sp {
    height: 10vw;
}

.lp_footer {
    height: 32vw;
}
/**
 *  iPhone5サイズ以外でFooterを固定する
 */
/* @media (min-height: 569px) {
    .footer_sp {
        position: absolute;
        bottom: 0;
    }
    .form_title:not(.modal) {
        font-size: 18px;
    }
} */
/**
 *  iPhone5サイズでフォームタイトルのサイズを縮小する
 */
@media (max-height: 568px) {
    .form_title:not(.modal) {
        font-size: 18px;
    }
}

.address {
    line-height:  15vw;
}

/**
 *  詳細画面以外のフォームでは電話番号ボタンを配置するため、下記スタイル対応
 */
.micro_copy {
    margin: 3.125vw 0;
    text-align: center;
    font-size: 3.4375vw;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    color: #6d6d6d;
}
.btn_tel {
    margin: 0 3.125vw 3.125vw;
}


/**
 *  フォーム　求人情報の表示
 */
.form_rectuit_info_div {
    background: #f7931e;
    margin-bottom:15px;
}

.form_recruit_info {
    color: white;
    font-size: 15px;
    padding: 10px;
    line-height: 20px;
}
