@import "variables";
@import "mixins";

// Global Styles

#wrapper {
	width: 100%;
	background: #fff;
}

#header-wrapper {
	width: 100%;
}

#header-wrapper .header-nav {
	margin-top: 5px;
	margin-bottom: 5px;
}
#header-wrapper .navbar-brand {
	margin-top: 10px;
	margin-bottom: 5px;
}

#page-wrapper {
	width: 100%;
	margin-bottom: 40px;
}

.container {
	min-width: 1170px !important;
	width: 95% !important;
}

// Navigation
// -- Topbar

.navbar-top-links {
	margin-right: 0;
}
.navbar-top-links li {
	display: inline-block;
	&:last-child {
		margin-right: 15px;
	}
}
.navbar-top-links li a {
	padding: 6px 15px;
	min-height: 30px;
}
.navbar-top-links .dropdown-menu li {
	display: block;
	&:last-child {
		margin-right: 0;
	}
}
.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

// Buttons

.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}
.btn-primary.btn-outline {
	color: $brand-primary;
}
.btn-success.btn-outline {
	color: $brand-success;
}
.btn-info.btn-outline {
	color: $brand-info;
}
.btn-warning.btn-outline {
	color: $brand-warning;
}
.btn-danger.btn-outline {
	color: $brand-danger;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
	color: white;
}

// Circle Buttons

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.6;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 2.1;
}

// Login Page

.login-panel {
	margin-top: 25%;
}

// Custom Colored Panels
.huge {
	font-size: 40px;
}

.panel-green {
    border-color: $brand-success;
    .panel-heading {
        border-color: $brand-success;
        color: #fff;
        background-color: $brand-success;
    }
    a {
        color: $brand-success;
        &:hover {
            color: darken($brand-success, 15%);
        }
    }
}

.panel-red {
    border-color: $brand-danger;
    .panel-heading {
        border-color: $brand-danger;
        color: #fff;
        background-color: $brand-danger;
    }
    a {
        color: $brand-danger;
        &:hover {
            color: darken($brand-danger, 15%);
        }
    }
}

.panel-yellow {
    border-color: $brand-warning;
    .panel-heading {
        border-color: $brand-warning;
        color: white;
        background-color: $brand-warning;
    }
    a {
        color: $brand-warning;
        &:hover {
            color: darken($brand-warning, 15%);
        }
    }
}

/**
 * Form Custom
 */
#facilities-form .radio-inline, .checkbox-inline {
	margin-left: 10px;
}

.req {
	color: #c7254e;
}

label.error {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: $brand-danger;
}
.form-control.error {
	border-color: $brand-danger;
}

.select-control {
	margin-left: 5px;
	margin-right: 5px;
	height: 31px;
	padding: 6px;
	font-size: 12px;
	line-height: 1.42857;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	&:focus {
		border-color: #66afe9;
		outline: 0;
	}
}


/**
 * Label Custom
 */
.label {
	display: inline-block;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding: 0.3em 0.6em 0.2em;
}

/**
 * Contents
 */
.contents-actions {
	margin-bottom: 20px;
}

/**
 * Table
 */
.table > tbody > tr > th {
	vertical-align: middle;
	width: 120px;
	background: #f7f7f7;
}
.table > tbody > tr > td a {
	word-break: break-all;
}

.table-fixed {
	table-layout: fixed;
}

/**
 * Staff
 */
#staffs {
	height: 250px;
	overflow-y: scroll;
}

#staffs .table {
	margin-bottom: 5px;
}

#staffs .table > tbody > tr > th {
	width: 150px;
	font-weight: normal;
	overflow: hidden;
}

#staffs .table > tbody > tr > th a {
	display: block;
	white-space: nowrap;
	width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/**
 * Contacts
 */
#contacts {
	height: 450px;
	overflow-y: scroll;
}

#contacts .table {
	margin-bottom: 5px;
}

/**
 * Twitter Typeahead
 */
span.twitter-typeahead .tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 12px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 2px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}

span.twitter-typeahead .tt-suggestion > p {
	display: block;
	padding: 3px 10px;
	margin-bottom: 0;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
	text-decoration: none;
	outline: 0;
	color: #262626;
	background-color: #f5f5f5;
}

span.twitter-typeahead .tt-suggestion.tt-cursor {
	color: #262626;
	background-color: #f5f5f5;
}

span.twitter-typeahead {
	width: 100%;
}

.input-group span.twitter-typeahead {
	display: block !important;
}

.input-group span.twitter-typeahead .tt-dropdown-menu {
	top: 32px !important;
}

.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 44px !important;
}

.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 28px !important;
}