@import "http://fonts.googleapis.com/css?family=Open+Sans";
@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/fontawesome-webfont.eot?v=4.0.3");
	src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
	font-weight: normal;
	font-style: normal
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.fa-lg {
	font-size: 1.33333em;
	line-height: 0.75em;
	vertical-align: -15%
}
.fa-2x {
	font-size: 2em
}
.fa-3x {
	font-size: 3em
}
.fa-4x {
	font-size: 4em
}
.fa-5x {
	font-size: 5em
}
.fa-fw {
	width: 1.28571em;
	text-align: center
}
.fa-ul {
	padding-left: 0;
	margin-left: 2.14286em;
	list-style-type: none
}
.fa-ul>li {
	position: relative
}
.fa-li {
	position: absolute;
	left: -2.14286em;
	width: 2.14286em;
	top: 0.14286em;
	text-align: center
}
.fa-li.fa-lg {
	left: -1.85714em
}
.fa-border {
	padding: .2em .25em .15em;
	border: solid 0.08em #eee;
	border-radius: .1em
}
.pull-right {
	float: right
}
.pull-left {
	float: left
}
.fa.pull-left {
	margin-right: .3em
}
.fa.pull-right {
	margin-left: .3em
}
.fa-spin {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear
}
@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg)
	}
	100% {
		-moz-transform: rotate(359deg)
	}
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(359deg)
	}
}
@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg)
	}
	100% {
		-o-transform: rotate(359deg)
	}
}
@-ms-keyframes spin {
	0% {
		-ms-transform: rotate(0deg)
	}
	100% {
		-ms-transform: rotate(359deg)
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(359deg)
	}
}
.fa-rotate-90 {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg)
}
.fa-rotate-180 {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}
.fa-rotate-270 {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg)
}
.fa-flip-horizontal {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1)
}
.fa-flip-vertical {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
	-webkit-transform: scale(1, -1);
	-moz-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(1, -1)
}
.fa-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle
}
.fa-stack-1x, .fa-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center
}
.fa-stack-1x {
	line-height: inherit
}
.fa-stack-2x {
	font-size: 2em
}
.fa-inverse {
	color: #fff
}
.fa-glass:before {
	content: ""
}
.fa-music:before {
	content: ""
}
.fa-search:before {
	content: ""
}
.fa-envelope-o:before {
	content: ""
}
.fa-heart:before {
	content: ""
}
.fa-star:before {
	content: ""
}
.fa-star-o:before {
	content: ""
}
.fa-user:before {
	content: ""
}
.fa-film:before {
	content: ""
}
.fa-th-large:before {
	content: ""
}
.fa-th:before {
	content: ""
}
.fa-th-list:before {
	content: ""
}
.fa-check:before {
	content: ""
}
.fa-times:before {
	content: ""
}
.fa-search-plus:before {
	content: ""
}
.fa-search-minus:before {
	content: ""
}
.fa-power-off:before {
	content: ""
}
.fa-signal:before {
	content: ""
}
.fa-gear:before, .fa-cog:before {
	content: ""
}
.fa-trash-o:before {
	content: ""
}
.fa-home:before {
	content: ""
}
.fa-file-o:before {
	content: ""
}
.fa-clock-o:before {
	content: ""
}
.fa-road:before {
	content: ""
}
.fa-download:before {
	content: ""
}
.fa-arrow-circle-o-down:before {
	content: ""
}
.fa-arrow-circle-o-up:before {
	content: ""
}
.fa-inbox:before {
	content: ""
}
.fa-play-circle-o:before {
	content: ""
}
.fa-rotate-right:before, .fa-repeat:before {
	content: ""
}
.fa-refresh:before {
	content: ""
}
.fa-list-alt:before {
	content: ""
}
.fa-lock:before {
	content: ""
}
.fa-flag:before {
	content: ""
}
.fa-headphones:before {
	content: ""
}
.fa-volume-off:before {
	content: ""
}
.fa-volume-down:before {
	content: ""
}
.fa-volume-up:before {
	content: ""
}
.fa-qrcode:before {
	content: ""
}
.fa-barcode:before {
	content: ""
}
.fa-tag:before {
	content: ""
}
.fa-tags:before {
	content: ""
}
.fa-book:before {
	content: ""
}
.fa-bookmark:before {
	content: ""
}
.fa-print:before {
	content: ""
}
.fa-camera:before {
	content: ""
}
.fa-font:before {
	content: ""
}
.fa-bold:before {
	content: ""
}
.fa-italic:before {
	content: ""
}
.fa-text-height:before {
	content: ""
}
.fa-text-width:before {
	content: ""
}
.fa-align-left:before {
	content: ""
}
.fa-align-center:before {
	content: ""
}
.fa-align-right:before {
	content: ""
}
.fa-align-justify:before {
	content: ""
}
.fa-list:before {
	content: ""
}
.fa-dedent:before, .fa-outdent:before {
	content: ""
}
.fa-indent:before {
	content: ""
}
.fa-video-camera:before {
	content: ""
}
.fa-picture-o:before {
	content: ""
}
.fa-pencil:before {
	content: ""
}
.fa-map-marker:before {
	content: ""
}
.fa-adjust:before {
	content: ""
}
.fa-tint:before {
	content: ""
}
.fa-edit:before, .fa-pencil-square-o:before {
	content: ""
}
.fa-share-square-o:before {
	content: ""
}
.fa-check-square-o:before {
	content: ""
}
.fa-arrows:before {
	content: ""
}
.fa-step-backward:before {
	content: ""
}
.fa-fast-backward:before {
	content: ""
}
.fa-backward:before {
	content: ""
}
.fa-play:before {
	content: ""
}
.fa-pause:before {
	content: ""
}
.fa-stop:before {
	content: ""
}
.fa-forward:before {
	content: ""
}
.fa-fast-forward:before {
	content: ""
}
.fa-step-forward:before {
	content: ""
}
.fa-eject:before {
	content: ""
}
.fa-chevron-left:before {
	content: ""
}
.fa-chevron-right:before {
	content: ""
}
.fa-plus-circle:before {
	content: ""
}
.fa-minus-circle:before {
	content: ""
}
.fa-times-circle:before {
	content: ""
}
.fa-check-circle:before {
	content: ""
}
.fa-question-circle:before {
	content: ""
}
.fa-info-circle:before {
	content: ""
}
.fa-crosshairs:before {
	content: ""
}
.fa-times-circle-o:before {
	content: ""
}
.fa-check-circle-o:before {
	content: ""
}
.fa-ban:before {
	content: ""
}
.fa-arrow-left:before {
	content: ""
}
.fa-arrow-right:before {
	content: ""
}
.fa-arrow-up:before {
	content: ""
}
.fa-arrow-down:before {
	content: ""
}
.fa-mail-forward:before, .fa-share:before {
	content: ""
}
.fa-expand:before {
	content: ""
}
.fa-compress:before {
	content: ""
}
.fa-plus:before {
	content: ""
}
.fa-minus:before {
	content: ""
}
.fa-asterisk:before {
	content: ""
}
.fa-exclamation-circle:before {
	content: ""
}
.fa-gift:before {
	content: ""
}
.fa-leaf:before {
	content: ""
}
.fa-fire:before {
	content: ""
}
.fa-eye:before {
	content: ""
}
.fa-eye-slash:before {
	content: ""
}
.fa-warning:before, .fa-exclamation-triangle:before {
	content: ""
}
.fa-plane:before {
	content: ""
}
.fa-calendar:before {
	content: ""
}
.fa-random:before {
	content: ""
}
.fa-comment:before {
	content: ""
}
.fa-magnet:before {
	content: ""
}
.fa-chevron-up:before {
	content: ""
}
.fa-chevron-down:before {
	content: ""
}
.fa-retweet:before {
	content: ""
}
.fa-shopping-cart:before {
	content: ""
}
.fa-folder:before {
	content: ""
}
.fa-folder-open:before {
	content: ""
}
.fa-arrows-v:before {
	content: ""
}
.fa-arrows-h:before {
	content: ""
}
.fa-bar-chart-o:before {
	content: ""
}
.fa-twitter-square:before {
	content: ""
}
.fa-facebook-square:before {
	content: ""
}
.fa-camera-retro:before {
	content: ""
}
.fa-key:before {
	content: ""
}
.fa-gears:before, .fa-cogs:before {
	content: ""
}
.fa-comments:before {
	content: ""
}
.fa-thumbs-o-up:before {
	content: ""
}
.fa-thumbs-o-down:before {
	content: ""
}
.fa-star-half:before {
	content: ""
}
.fa-heart-o:before {
	content: ""
}
.fa-sign-out:before {
	content: ""
}
.fa-linkedin-square:before {
	content: ""
}
.fa-thumb-tack:before {
	content: ""
}
.fa-external-link:before {
	content: ""
}
.fa-sign-in:before {
	content: ""
}
.fa-trophy:before {
	content: ""
}
.fa-github-square:before {
	content: ""
}
.fa-upload:before {
	content: ""
}
.fa-lemon-o:before {
	content: ""
}
.fa-phone:before {
	content: ""
}
.fa-square-o:before {
	content: ""
}
.fa-bookmark-o:before {
	content: ""
}
.fa-phone-square:before {
	content: ""
}
.fa-twitter:before {
	content: ""
}
.fa-facebook:before {
	content: ""
}
.fa-github:before {
	content: ""
}
.fa-unlock:before {
	content: ""
}
.fa-credit-card:before {
	content: ""
}
.fa-rss:before {
	content: ""
}
.fa-hdd-o:before {
	content: ""
}
.fa-bullhorn:before {
	content: ""
}
.fa-bell:before {
	content: ""
}
.fa-certificate:before {
	content: ""
}
.fa-hand-o-right:before {
	content: ""
}
.fa-hand-o-left:before {
	content: ""
}
.fa-hand-o-up:before {
	content: ""
}
.fa-hand-o-down:before {
	content: ""
}
.fa-arrow-circle-left:before {
	content: ""
}
.fa-arrow-circle-right:before {
	content: ""
}
.fa-arrow-circle-up:before {
	content: ""
}
.fa-arrow-circle-down:before {
	content: ""
}
.fa-globe:before {
	content: ""
}
.fa-wrench:before {
	content: ""
}
.fa-tasks:before {
	content: ""
}
.fa-filter:before {
	content: ""
}
.fa-briefcase:before {
	content: ""
}
.fa-arrows-alt:before {
	content: ""
}
.fa-group:before, .fa-users:before {
	content: ""
}
.fa-chain:before, .fa-link:before {
	content: ""
}
.fa-cloud:before {
	content: ""
}
.fa-flask:before {
	content: ""
}
.fa-cut:before, .fa-scissors:before {
	content: ""
}
.fa-copy:before, .fa-files-o:before {
	content: ""
}
.fa-paperclip:before {
	content: ""
}
.fa-save:before, .fa-floppy-o:before {
	content: ""
}
.fa-square:before {
	content: ""
}
.fa-bars:before {
	content: ""
}
.fa-list-ul:before {
	content: ""
}
.fa-list-ol:before {
	content: ""
}
.fa-strikethrough:before {
	content: ""
}
.fa-underline:before {
	content: ""
}
.fa-table:before {
	content: ""
}
.fa-magic:before {
	content: ""
}
.fa-truck:before {
	content: ""
}
.fa-pinterest:before {
	content: ""
}
.fa-pinterest-square:before {
	content: ""
}
.fa-google-plus-square:before {
	content: ""
}
.fa-google-plus:before {
	content: ""
}
.fa-money:before {
	content: ""
}
.fa-caret-down:before {
	content: ""
}
.fa-caret-up:before {
	content: ""
}
.fa-caret-left:before {
	content: ""
}
.fa-caret-right:before {
	content: ""
}
.fa-columns:before {
	content: ""
}
.fa-unsorted:before, .fa-sort:before {
	content: ""
}
.fa-sort-down:before, .fa-sort-asc:before {
	content: ""
}
.fa-sort-up:before, .fa-sort-desc:before {
	content: ""
}
.fa-envelope:before {
	content: ""
}
.fa-linkedin:before {
	content: ""
}
.fa-rotate-left:before, .fa-undo:before {
	content: ""
}
.fa-legal:before, .fa-gavel:before {
	content: ""
}
.fa-dashboard:before, .fa-tachometer:before {
	content: ""
}
.fa-comment-o:before {
	content: ""
}
.fa-comments-o:before {
	content: ""
}
.fa-flash:before, .fa-bolt:before {
	content: ""
}
.fa-sitemap:before {
	content: ""
}
.fa-umbrella:before {
	content: ""
}
.fa-paste:before, .fa-clipboard:before {
	content: ""
}
.fa-lightbulb-o:before {
	content: ""
}
.fa-exchange:before {
	content: ""
}
.fa-cloud-download:before {
	content: ""
}
.fa-cloud-upload:before {
	content: ""
}
.fa-user-md:before {
	content: ""
}
.fa-stethoscope:before {
	content: ""
}
.fa-suitcase:before {
	content: ""
}
.fa-bell-o:before {
	content: ""
}
.fa-coffee:before {
	content: ""
}
.fa-cutlery:before {
	content: ""
}
.fa-file-text-o:before {
	content: ""
}
.fa-building-o:before {
	content: ""
}
.fa-hospital-o:before {
	content: ""
}
.fa-ambulance:before {
	content: ""
}
.fa-medkit:before {
	content: ""
}
.fa-fighter-jet:before {
	content: ""
}
.fa-beer:before {
	content: ""
}
.fa-h-square:before {
	content: ""
}
.fa-plus-square:before {
	content: ""
}
.fa-angle-double-left:before {
	content: ""
}
.fa-angle-double-right:before {
	content: ""
}
.fa-angle-double-up:before {
	content: ""
}
.fa-angle-double-down:before {
	content: ""
}
.fa-angle-left:before {
	content: ""
}
.fa-angle-right:before {
	content: ""
}
.fa-angle-up:before {
	content: ""
}
.fa-angle-down:before {
	content: ""
}
.fa-desktop:before {
	content: ""
}
.fa-laptop:before {
	content: ""
}
.fa-tablet:before {
	content: ""
}
.fa-mobile-phone:before, .fa-mobile:before {
	content: ""
}
.fa-circle-o:before {
	content: ""
}
.fa-quote-left:before {
	content: ""
}
.fa-quote-right:before {
	content: ""
}
.fa-spinner:before {
	content: ""
}
.fa-circle:before {
	content: ""
}
.fa-mail-reply:before, .fa-reply:before {
	content: ""
}
.fa-github-alt:before {
	content: ""
}
.fa-folder-o:before {
	content: ""
}
.fa-folder-open-o:before {
	content: ""
}
.fa-smile-o:before {
	content: ""
}
.fa-frown-o:before {
	content: ""
}
.fa-meh-o:before {
	content: ""
}
.fa-gamepad:before {
	content: ""
}
.fa-keyboard-o:before {
	content: ""
}
.fa-flag-o:before {
	content: ""
}
.fa-flag-checkered:before {
	content: ""
}
.fa-terminal:before {
	content: ""
}
.fa-code:before {
	content: ""
}
.fa-reply-all:before {
	content: ""
}
.fa-mail-reply-all:before {
	content: ""
}
.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
	content: ""
}
.fa-location-arrow:before {
	content: ""
}
.fa-crop:before {
	content: ""
}
.fa-code-fork:before {
	content: ""
}
.fa-unlink:before, .fa-chain-broken:before {
	content: ""
}
.fa-question:before {
	content: ""
}
.fa-info:before {
	content: ""
}
.fa-exclamation:before {
	content: ""
}
.fa-superscript:before {
	content: ""
}
.fa-subscript:before {
	content: ""
}
.fa-eraser:before {
	content: ""
}
.fa-puzzle-piece:before {
	content: ""
}
.fa-microphone:before {
	content: ""
}
.fa-microphone-slash:before {
	content: ""
}
.fa-shield:before {
	content: ""
}
.fa-calendar-o:before {
	content: ""
}
.fa-fire-extinguisher:before {
	content: ""
}
.fa-rocket:before {
	content: ""
}
.fa-maxcdn:before {
	content: ""
}
.fa-chevron-circle-left:before {
	content: ""
}
.fa-chevron-circle-right:before {
	content: ""
}
.fa-chevron-circle-up:before {
	content: ""
}
.fa-chevron-circle-down:before {
	content: ""
}
.fa-html5:before {
	content: ""
}
.fa-css3:before {
	content: ""
}
.fa-anchor:before {
	content: ""
}
.fa-unlock-alt:before {
	content: ""
}
.fa-bullseye:before {
	content: ""
}
.fa-ellipsis-h:before {
	content: ""
}
.fa-ellipsis-v:before {
	content: ""
}
.fa-rss-square:before {
	content: ""
}
.fa-play-circle:before {
	content: ""
}
.fa-ticket:before {
	content: ""
}
.fa-minus-square:before {
	content: ""
}
.fa-minus-square-o:before {
	content: ""
}
.fa-level-up:before {
	content: ""
}
.fa-level-down:before {
	content: ""
}
.fa-check-square:before {
	content: ""
}
.fa-pencil-square:before {
	content: ""
}
.fa-external-link-square:before {
	content: ""
}
.fa-share-square:before {
	content: ""
}
.fa-compass:before {
	content: ""
}
.fa-toggle-down:before, .fa-caret-square-o-down:before {
	content: ""
}
.fa-toggle-up:before, .fa-caret-square-o-up:before {
	content: ""
}
.fa-toggle-right:before, .fa-caret-square-o-right:before {
	content: ""
}
.fa-euro:before, .fa-eur:before {
	content: ""
}
.fa-gbp:before {
	content: ""
}
.fa-dollar:before, .fa-usd:before {
	content: ""
}
.fa-rupee:before, .fa-inr:before {
	content: ""
}
.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
	content: ""
}
.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
	content: ""
}
.fa-won:before, .fa-krw:before {
	content: ""
}
.fa-bitcoin:before, .fa-btc:before {
	content: ""
}
.fa-file:before {
	content: ""
}
.fa-file-text:before {
	content: ""
}
.fa-sort-alpha-asc:before {
	content: ""
}
.fa-sort-alpha-desc:before {
	content: ""
}
.fa-sort-amount-asc:before {
	content: ""
}
.fa-sort-amount-desc:before {
	content: ""
}
.fa-sort-numeric-asc:before {
	content: ""
}
.fa-sort-numeric-desc:before {
	content: ""
}
.fa-thumbs-up:before {
	content: ""
}
.fa-thumbs-down:before {
	content: ""
}
.fa-youtube-square:before {
	content: ""
}
.fa-youtube:before {
	content: ""
}
.fa-xing:before {
	content: ""
}
.fa-xing-square:before {
	content: ""
}
.fa-youtube-play:before {
	content: ""
}
.fa-dropbox:before {
	content: ""
}
.fa-stack-overflow:before {
	content: ""
}
.fa-instagram:before {
	content: ""
}
.fa-flickr:before {
	content: ""
}
.fa-adn:before {
	content: ""
}
.fa-bitbucket:before {
	content: ""
}
.fa-bitbucket-square:before {
	content: ""
}
.fa-tumblr:before {
	content: ""
}
.fa-tumblr-square:before {
	content: ""
}
.fa-long-arrow-down:before {
	content: ""
}
.fa-long-arrow-up:before {
	content: ""
}
.fa-long-arrow-left:before {
	content: ""
}
.fa-long-arrow-right:before {
	content: ""
}
.fa-apple:before {
	content: ""
}
.fa-windows:before {
	content: ""
}
.fa-android:before {
	content: ""
}
.fa-linux:before {
	content: ""
}
.fa-dribbble:before {
	content: ""
}
.fa-skype:before {
	content: ""
}
.fa-foursquare:before {
	content: ""
}
.fa-trello:before {
	content: ""
}
.fa-female:before {
	content: ""
}
.fa-male:before {
	content: ""
}
.fa-gittip:before {
	content: ""
}
.fa-sun-o:before {
	content: ""
}
.fa-moon-o:before {
	content: ""
}
.fa-archive:before {
	content: ""
}
.fa-bug:before {
	content: ""
}
.fa-vk:before {
	content: ""
}
.fa-weibo:before {
	content: ""
}
.fa-renren:before {
	content: ""
}
.fa-pagelines:before {
	content: ""
}
.fa-stack-exchange:before {
	content: ""
}
.fa-arrow-circle-o-right:before {
	content: ""
}
.fa-arrow-circle-o-left:before {
	content: ""
}
.fa-toggle-left:before, .fa-caret-square-o-left:before {
	content: ""
}
.fa-dot-circle-o:before {
	content: ""
}
.fa-wheelchair:before {
	content: ""
}
.fa-vimeo-square:before {
	content: ""
}
.fa-turkish-lira:before, .fa-try:before {
	content: ""
}
.fa-plus-square-o:before {
	content: ""
}
:focus {
	outline: 0 !important
}
figure {
	margin: 0;
	padding: 0
}
figure img {
	width: 100%;
	height: auto
}
iframe {
	border: none
}
::selection {
	background: #ffe8f2;
	color: #6d6d6d
}
::-moz-selection {
	background: #ffe8f2;
	color: #6d6d6d
}
body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden
}
address {
	margin: 0
}
a {
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px 0
}
h1 {
	font-size: 26px;
	line-height: 30px
}
h2 {
	font-size: 22px;
	line-height: 28px
}
h3 {
	font-size: 18px;
	line-height: 22px
}
h4 {
	font-size: 16px;
	margin-bottom: 8px
}
h5 {
	font-size: 14px
}
h6 {
	font-size: 12px
}
.lead {
	font-size: 16px;
	line-height: 28px
}
.thin {
	width: 80%;
	margin: 0 auto
}
ul {
	padding: 0 0 0 18px
}
ol {
	padding: 0 0 0 20px
}
#header {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	border-top: none;
	border-bottom: 5px solid #ff65ab
}
#main {
	margin: 10px 0 10px 0;
	width: 100%;
	background: #fff
}
#sidebar {
	background: #fff
}
#content {
	background: #fff
}
#footer-wrapper {
	padding: 20px 0 10px;
	width: 100%;
	border-top: 5px solid #ff8ec1;
	background: #ff65ab;
	color: #fff
}
#top-bar {
	width: 100%;
	overflow: hidden
}
#top-bar h1 {
	margin: 5px 0;
	padding: 0;
	font-size: 12px;
	line-height: 1;
	color: #ff65ab
}
@media (max-width: 767px) {
	#top-bar h1 {
		font-size: 10px
	}
}
#header {
	min-height: 70px
}
#header .navbar-brand {
	margin: 0;
	padding: 0;
	height: 70px
}
@media (max-width: 767px) {
	#header {
		min-height: 60px
	}
	#header .navbar-brand {
		height: 60px;
		margin-left: 10px
	}
	#header .navbar-toggle {
		margin-top: 15px;
		margin-bottom: 15px
	}
	#header .navbar-toggle:hover, #header .navbar-toggle:focus {
		border-color: #ff65ab
	}
	#header .navbar-toggle:hover .icon-bar, #header .navbar-toggle:focus .icon-bar {
		background-color: #fff
	}
}
#header .information {
	float: right;
	text-align: right
}
#header .information .tel {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	font-family: Verdana sans-serif;
	color: #ff65ab
}
#main-menu {
	width: 100%;
	border-bottom: 1px solid #ff65ab
}
#main-menu .nav>li>a:hover, #main-menu .nav>li>a:focus {
	color: #fff
}
#main-menu .navbar-nav>li {
	width: 170px;
	text-align: center
}
@media (min-width: 768px) and (max-width: 991px) {
	#main-menu .navbar-nav>li {
		width: 122px
	}
}
#main-menu .navbar-nav>li.entry {
	width: 260px
}
@media (min-width: 768px) and (max-width: 991px) {
	#main-menu .navbar-nav>li.entry {
		width: 232px
	}
}
#main-menu .navbar-nav>li.entry>a {
	background-color: #ff65ab;
	color: #fff
}
#main-menu .navbar-nav>li.entry>a:hover, #main-menu .navbar-nav>li.entry>a:focus {
	background-color: #ff98c7
}
@media (max-width: 767px) {
	#main-menu .navbar-nav>li {
		width: auto;
		text-align: left
	}
	#main-menu .navbar-nav>li.entry {
		width: auto
	}
}
.masthead {
	margin: 0
}
.masthead .top-image {
	width: 100%
}
.masthead img {
	width: 100%;
	height: auto
}
@media (max-width: 767px) {
	.masthead .container {
		padding-left: 0;
		padding-right: 0
	}
}
#footer-wrapper a {
	color: #fff
}
#footer-wrapper .information {
	text-align: right
}
#footer-wrapper .information .tel {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	font-family: Verdana sans-serif;
	color: #fff
}
#footer-wrapper .information .tel a {
	text-decoration: none
}
@media (max-width: 767px) {
	#footer-wrapper .footer-nav {
		width: 230px;
		margin: 0 auto;
		padding: 0 0 10px 0
	}
	#footer-wrapper .information {
		margin: 10px 0;
		text-align: center
	}
}
#footer-bottom {
	padding: 5px 0 0 0
}
.sidebox {
	margin: 0;
	width: 100%
}
.sidebox .widget {
	margin: 0 0 10px 0
}
.sidebox .widget h4 i {
	color: #1499ff
}
.support {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	color: #fff
}
.support a {
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	background: #ff98c7;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}
.support a:hover {
	background: #ff7eb9
}
.support h4 {
	margin: 0;
	padding: 10px 0;
	width: 100%;
	font-size: 20px;
	line-height: 26px;
	background: #ff65ab;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0
}
.support span {
	display: inline-block;
	margin: 5px auto;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 14px;
	border: 2px solid #ff65ab;
	background: #fff;
	color: #ff65ab;
	white-space: nowrap
}
.support2 {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #fff
}
.support2 a {
	position: relative;
	display: block;
	margin: 0;
	padding: 10px 30px 10px 20px;
	width: 100%;
	line-height: 34px;
	color: #fff;
	text-decoration: none;
	background: #ff65ab;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
@media (max-width: 480px) {
	.support2 a {
		line-height: 24px
	}
}
.support2 h4 {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
	width: auto;
	font-size: 20px;
	line-height: 34px
}
.support2 span {
	display: inline-block;
	margin: 0;
	padding: 3px 5px;
	min-width: 150px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	background: #fff;
	color: #ff65ab
}
.support2 i {
	position: absolute;
	top: 18px;
	right: 10px;
	font-size: 20px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	text-align: center
}
@media (max-width: 480px) {
	.support2 i {
		top: 31px
	}
}
.recruit {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	color: #fff
}
.recruit a {
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	background: #4749b0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}
.recruit a:hover {
	background: #383a8c
}
.recruit h4 {
	margin: 0;
	padding: 10px 0;
	width: 100%;
	font-size: 20px;
	line-height: 26px;
	background: #000298;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0
}
.recruit span {
	display: inline-block;
	margin: 5px auto;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 14px;
	border: 2px solid #000298;
	background: #fff;
	color: #000298;
	white-space: nowrap
}
.recruit2 {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #fff
}
.recruit2 a {
	position: relative;
	display: block;
	margin: 0;
	padding: 10px 30px 10px 20px;
	width: 100%;
	line-height: 34px;
	color: #fff;
	text-decoration: none;
	background: #000298;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
@media (max-width: 480px) {
	.recruit2 a {
		line-height: 24px
	}
}
.recruit2 h4 {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
	min-width: 220px;
	font-size: 20px;
	line-height: 34px;
	vertical-align: bottom
}
.recruit2 span {
	display: inline-block;
	margin: 0;
	padding: 3px 5px;
	min-width: 150px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	background: #fff;
	color: #000298
}
.recruit2 i {
	position: absolute;
	top: 18px;
	right: 10px;
	font-size: 20px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	text-align: center
}
@media (max-width: 480px) {
	.recruit2 i {
		top: 31px
	}
}
.guide {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	color: #fff
}
.guide a {
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	background: #fff;
	border: 4px solid #1499ff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}
.guide a:hover {
	background: #addbff
}
.guide h4 {
	margin: 0;
	padding: 10px 0 5px;
	width: 100%;
	font-size: 20px;
	line-height: 20px;
	background: #fff;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0
}
.guide span {
	display: inline-block;
	margin: 5px auto;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 14px;
	border: 2px solid #1499ff;
	background: #fff;
	color: #1499ff;
	white-space: nowrap
}
.guide2 {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #1499ff
}
.guide2 a {
	position: relative;
	display: block;
	margin: 0;
	padding: 10px 30px 10px 16px;
	width: 100%;
	line-height: 34px;
	color: #fff;
	text-decoration: none;
	border: 4px solid #1499ff;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.guide2 h4 {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
	min-width: 220px;
	font-size: 20px;
	line-height: 26px;
	vertical-align: bottom
}
@media (max-width: 480px) {
	.guide2 h4 {
		margin-bottom: 3px
	}
}
.guide2 span {
	display: inline-block;
	margin: 0;
	padding: 3px 10px 3px 10px;
	min-width: 150px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	border: 2px solid #1499ff;
	background: #fff;
	color: #1499ff
}
.guide2 i {
	position: absolute;
	top: 18px;
	right: 10px;
	font-size: 20px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	text-align: center;
	color: #1499ff
}
@media (max-width: 480px) {
	.guide2 i {
		top: 36px
	}
}
.blog {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	color: #fff
}
.blog a {
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	background: #fff;
	border: 4px solid #1499ff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}
.blog a:hover {
	background: #addbff
}
.blog h4 {
	margin: 0;
	padding: 10px 0 5px;
	width: 100%;
	font-size: 20px;
	line-height: 20px;
	background: #fff;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0
}
.blog span {
	display: inline-block;
	margin: 5px auto;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 14px;
	border: 2px solid #1499ff;
	background: #fff;
	color: #1499ff;
	white-space: nowrap
}
.blog2 {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #1499ff
}
.blog2 a {
	position: relative;
	display: block;
	margin: 0;
	padding: 10px 30px 10px 16px;
	width: 100%;
	line-height: 34px;
	color: #fff;
	text-decoration: none;
	border: 4px solid #1499ff;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.blog2 h4 {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
	min-width: 220px;
	font-size: 20px;
	line-height: 26px;
	vertical-align: bottom
}
@media (max-width: 480px) {
	.blog2 h4 {
		margin-bottom: 3px
	}
}
.blog2 span {
	display: inline-block;
	margin: 0;
	padding: 3px 10px 3px 10px;
	min-width: 150px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	border: 2px solid #1499ff;
	background: #fff;
	color: #1499ff
}
.blog2 i {
	position: absolute;
	top: 18px;
	right: 10px;
	font-size: 20px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	text-align: center;
	color: #1499ff
}
@media (max-width: 480px) {
	.blog2 i {
		top: 36px
	}
}
.search {
	margin: 0;
	padding: 0;
	width: 100%
}
.search h4 i {
	color: #1499ff
}
.search .form-group, .search .input-group {
	width: 100%
}
.search .btn {
	background-color: transparent
}
.search .search-btn {
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 1
}
.category h4 i {
	color: #1499ff
}
.category a {
	display: block;
	margin: 0 0 5px 0
}
.category img {
	width: 100%;
	max-width: 100%;
	height: auto
}
.section {
	margin: 0 0 10px 0
}
.section .section-title {
	position: relative;
	color: #ff65ab
}
.section .section-title a {
	display: block
}
.section .section-title a:hover, .section .section-title a:focus {
	text-decoration: none
}
.section .section-title a span {
	position: absolute;
	top: 3px;
	right: 10px
}
.page-header {
	position: relative;
	margin: 0 0 5px;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	background: #ff65ab;
	border-bottom: 5px solid #ff98c7
}
.page-header a {
	display: block;
	color: #fff;
	text-decoration: none
}
.page-header a span {
	position: absolute;
	right: 20px;
	top: 10px
}
@media (max-width: 767px) {
	.page-header {
		margin-left: -10px;
		margin-right: -10px
	}
}
.page-top, .page-body, .page-bottom {
	margin: 0;
	padding: 0;
	width: 100%
}
.page-top:before, .page-top:after, .page-body:before, .page-body:after, .page-bottom:before, .page-bottom:after {
	content: " ";
	display: table
}
.page-top:after, .page-body:after, .page-bottom:after {
	clear: both
}
.facility-item {
	position: relative;
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #ccc
}
.facility-item:hover {
	background: #fff9fc
}
.facility-item:hover .recruit-item {
	background: #fff
}
.facility-item h2 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 18px
}
.facility-item h3 {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 24px;
	line-height: 28px
}
.facility-item .address {
	margin: 0 0 5px 0
}
.facility-item .address i {
	margin: 0 5px 0 0
}
.facility-item .facility-image {
	margin: 0;
	padding: 0;
	width: 100%
}
.facility-item .kodawari {
	margin: 0;
	padding: 0;
	width: 100%
}
.facility-item .kodawari .list-inline {
	margin: 0
}
.facility-item .kodawari .list-inline>li {
	padding: 0 5px 0 0
}
.facility-item .kodawari span {
	display: inline-block;
	margin: 0 0 5px 0;
	padding: 3px 5px;
	background: #ff65ab;
	color: #fff
}
.facility-item .recruit-item {
	position: relative;
	margin: 10px 0 0 0;
	padding: 10px;
	border: 1px solid #ffcbe3;
	background: #fff9fc
}
.facility-item .recruit-item dl {
	margin: 0;
	padding: 0;
	clear: both
}
.facility-item .recruit-item dl dt {
	margin: 0;
	padding: 0;
	float: left;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px
}
.facility-item .recruit-item dl dd {
	margin: 0;
	padding: 0
}
.facility-item .recruit-item .arrow {
	position: absolute;
	top: 30px;
	right: 20px;
	font-size: 20px;
	line-height: 20px;
	color: #ff65ab
}
@media (max-width: 767px) {
	.facility-item .recruit-item [class*="col-xs"] {
		display: block;
		width: 100%
	}
	.facility-item .recruit-item .recruit-btn {
		margin: 10px 0 0 0;
		display: block
	}
}
.facility-item .pc-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
@media (max-width: 767px) {
	.facility-item .sp-link, .recruit-item .sp-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%
	}
}
.facility-data {
	border: 1px solid #ccc
}
.table>tbody>tr>th {
	background: #ffeff6
}
.action .btn {
	position: relative;
	font-size: 12px;
	line-height: 18px;
	background-color: #1499ff;
	text-align: left;
	color: #fff
}
.action .btn:hover {
	background-color: #0079d6
}
.action .btn .phone {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
	width: 50px;
	text-align: center
}
.action .btn .free {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
	width: 50px;
	text-align: center;
	background: #fff;
	color: #1499ff
}
.action .btn .arrow {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 10px;
	font-size: 20px;
	line-height: 20px;
	text-align: center
}
.boldunderline {
	font-weight: bold;
	text-decoration: underline
}
.underline {
	text-decoration: underline
}
.clear {
	clear: both;
	display: block;
	width: 100%;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}
.relative {
	position: relative
}
.text-center {
	text-align: center
}
.vertical-line {
	float: left;
	margin: 0;
	width: 1px;
	height: 100%;
	background: #bbb
}
.bold {
	font-weight: bold
}
.noborder {
	border: none !important
}
.overflow-x-100 {
	height: 100px;
	overflow-x: auto
}
.overflow-x {
	overflow-x: auto
}
.overflow-y {
	overflow-y: auto
}
.overflow {
	overflow: auto
}
.no-float {
	float: none !important
}
.block {
	display: block;
	float: none;
	clear: both;
	width: 100%
}
.nopadding {
	padding: 0 !important
}
.nomargin {
	margin: 0 !important
}
.inner-padding {
	margin: 0;
	padding: 20px
}
.spacer-5, .spacer-10, .spacer-15, .spacer-20, .spacer-25, .spacer-30, .spacer-35, .spacer-40, .spacer-45, .spacer-50 {
	width: 100%;
	clear: both
}
.spacer-5 {
	height: 5px
}
.spacer-10 {
	height: 10px
}
.spacer-15 {
	height: 15px
}
.spacer-20 {
	height: 20px
}
.spacer-25 {
	height: 25px
}
.spacer-30 {
	height: 30px
}
.spacer-35 {
	height: 35px
}
.spacer-40 {
	height: 40px
}
.spacer-45 {
	height: 45px
}
.spacer-50 {
	height: 50px
}
.width-25 {
	width: 25px
}
.width-30 {
	width: 30px
}
.width-50 {
	width: 50px
}
.width-100 {
	width: 100px
}
.width-150 {
	width: 150px
}
.width-200 {
	width: 200px
}
#news .page-header {
	background: #1499ff;
	border-color: #47afff
}
#popular .page-header {
	background: #686ac2;
	border-color: #8c8ed1
}
#search {
	margin: 0 0 20px 0;
	padding: 0
}
#search .section {
	border-bottom: 3px solid #ff65ab
}
#search .form-control {
	height: auto;
	border-color: #ff65ab;
	border-width: 2px
}
#search select {
	color: #ff65ab
}
#search .search-check {
	margin: 0 0 10px 0;
	padding: 0;
	width: 100%
}
#search label {
	position: relative;
	display: inline-block;
	margin: 0 3px 3px 0;
	padding: 1em 0;
	width: 24%;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	background: #ddd;
	overflow: hidden;
	cursor: pointer
}
#search label.chekd {
	background: #ff65ab;
	color: #fff
}
#search input[type=checkbox] {
	position: absolute;
	left: -9999px
}
#search .btn-search {
	margin-top: 20px;
	padding: 20px 16px
}
@media (max-width: 767px) {
	#search label {
		width: 48%;
		margin: 0 3px 5px 0
	}
	#search .btn {
		display: block;
		width: 100%
	}
}
.search-selected {
	margin: 0;
	padding: 0;
	width: 100%
}
.search-selected .selected-body {
	margin: 0;
	padding: 0;
	width: 100%
}
@media (max-width: 767px) {
	body.results #main {
		margin-top: 0
	}
}
#result-top-pc {
	position: relative;
	width: 100%
}
#result-top-pc .container {
	position: relative
}
#result-top-pc .image {
	position: relative;
	width: 100%;
	z-index: 1
}
#result-top-pc .result-top-inner {
	position: absolute;
	width: 530px;
	top: 20px;
	left: 420px;
	overflow: hidden;
	z-index: 2
}
#result-top-pc .result-top-inner .count {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold
}
#result-top-pc .result-top-inner .count strong {
	font-size: 20px;
	color: #ff65ab
}
#result-top-pc .result-top-inner .text {
	margin-bottom: 10px;
	font-size: 14px
}
#result-top-pc .result-top-inner .button {
	width: 339px
}
@media (max-width: 992px) {
	#result-top-pc .container .result-top-inner {
		width: 410px;
		top: 5px;
		left: 315px
	}
	#result-top-pc .container .result-top-inner .count {
		margin-bottom: 0
	}
	#result-top-pc .container .result-top-inner .text {
		margin-bottom: 0
	}
}
#result-top-sp {
	position: relative;
	width: 100%
}
#result-top-sp .container {
	padding-left: 0;
	padding-right: 0
}
#result-top-sp .container .text {
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: #ffe1f0
}
#result-top-sp .container .text strong {
	font-size: 20px;
	color: #ff65ab
}
#result-top-sp .container .image {
	position: relative;
	width: 100%
}
.recruit-information .facility-data {
	margin: 0 0 10px 0;
	padding: 10px
}
.recruit-information .facility-data h2 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 18px
}
.recruit-information .facility-data h3 {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 24px;
	line-height: 28px
}
.recruit-information .facility-data .address {
	margin: 0 0 5px 0
}
.recruit-information .facility-data .address i {
	margin: 0 5px 0 0
}
.recruit-information .facility-data .facility-image {
	margin: 0;
	padding: 0;
	width: 100%
}
.recruit-information .facility-data .kodawari {
	margin: 0;
	padding: 0;
	width: 100%
}
.recruit-information .facility-data .kodawari .list-inline {
	margin: 0
}
.recruit-information .facility-data .kodawari .list-inline>li {
	padding: 0 5px 0 0
}
.recruit-information .facility-data .kodawari span {
	display: inline-block;
	margin: 0 0 5px 0;
	padding: 3px 5px;
	background: #ff65ab;
	color: #fff
}
.recruit-information .table>tbody>tr>th {
	width: 130px
}
.recruit-information .recruit-item {
	position: relative;
	margin: 10px 0 0 0;
	padding: 10px;
	border: 1px solid #ffcbe3;
	background: #fff9fc
}
.recruit-information .recruit-item dl {
	margin: 0;
	padding: 0;
	clear: both
}
.recruit-information .recruit-item dl dt {
	margin: 0;
	padding: 0;
	float: left;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px
}
.recruit-information .recruit-item dl dd {
	margin: 0;
	padding: 0
}
.recruit-information .recruit-item .arrow {
	position: absolute;
	top: 30px;
	right: 20px;
	font-size: 20px;
	line-height: 20px;
	color: #ff65ab
}
@media (max-width: 767px) {
	.recruit-information .recruit-item [class*="col-xs"] {
		display: block;
		width: 100%
	}
	.recruit-information .recruit-item .recruit-btn {
		margin: 10px 0 0 0;
		display: block
	}
}
#contact-form {
	padding-bottom: 40px
}
#contact-form h1 {
	margin-bottom: 40px
}
#contact-form .section {
	margin-bottom: 60px
}
#contact-form input[type="radio"], input[type="checkbox"] {
	margin-top: 2px;
	background: #fff;
	border-color: #333
}
#contact-form .contact-form {
	padding: 20px;
	background: url(../img/form_img/otf-back.png) no-repeat 0 90px
}
#contact-form .contact-form label {
	font-size: 16px;
	margin-bottom: 10px
}
#contact-form .contact-form label.control-label {
	padding: 5px 10px 5px 0;
	height: 37px;
	line-height: 35px
}
#contact-form .contact-form .check-mark {
	float: right;
	margin-top: 5px;
	height: 37px
}
#contact-form .contact-form .checkbox-inline label {
	margin-right: 10px;
	font-weight: normal
}
#contact-form .contact-form .radio-inline+.radio-inline, #contact-form .contact-form .checkbox-inline+.checkbox-inline {
	margin-left: 0;
	margin-right: 10px
}
#contact-form .contact-form .form-group {
	margin-bottom: 10px
}
#contact-form .contact-form .form-control {
	padding: 2px 10px;
	height: 37px;
	font-size: 16px;
	border: 2px solid #ccc;
	box-shadow: none
}
#contact-form .contact-form .form-control:focus {
	background: #fffcdf;
	border-color: #dfd77d
}
#contact-form .contact-form textarea.form-control {
	height: auto
}
#contact-form .contact-form .inputbox-error {
	background: #ffdfdf;
	border-color: #df7d7d
}
#contact-form .contact-form .inputbox-success {
	background: #ccffcc;
	border-color: #a2ef95
}
#contact-form .contact-form input[type="checkbox"].inputbox-success, #contact-form .contact-form input[type="checkbox"].inputbox-error {
	background: #fff;
	border-color: #333
}
#contact-form .contact-form .input-group-addon {
	background: none;
	border: none
}
#contact-form .contact-form .birthday .year, #contact-form .contact-form .birthday .month, #contact-form .contact-form .birthday .day {
	position: relative;
	display: inline-block
}
#contact-form .contact-form .birthday .year {
	width: 220px
}
#contact-form .contact-form .birthday .month, #contact-form .contact-form .birthday .day {
	width: 100px
}
#contact-form .contact-form #form-submit {
	font-size: 20px;
	color: #6d6d6d
}
#contact-form .contact-form .submit {
	margin: 20px 0 10px
}
#contact-form .contact-form .button-desc {
	font-size: 14px
}
#contact-form .contact-form .btn-primary {
	background: #a2ef95;
	border-color: #7be869
}
#contact-form .contact-form .btn-primary:hover {
	background: #68e553
}
@media (max-width: 767px) {
	#contact-form .contact-form .birthday .year {
		width: 100%
	}
	#contact-form .contact-form .birthday .month, #contact-form .contact-form .birthday .day {
		width: 100%
	}
	#contact-form .contact-form #form-submit {
		display: block;
		width: 100%
	}
}
#thanks {
	padding-bottom: 40px
}
#thanks h1 {
	margin-bottom: 40px
}
#thanks .section {
	margin-bottom: 60px
}
#thanks .thanks {
	padding: 20px;
	background: url(../img/form_img/otf-back.png) no-repeat 0 90px
}
#thanks p {
	font-size: 16px
}

@media (max-width: 767px) {
	.container_01 img {
		width: 100%;
		text-align: center;
	}
}

.container_01 {
		text-align: center;
	}