@charset "UTF-8";

/* Basic style */
:focus {
    outline: 0 !important;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
    height: auto;
}

iframe {
    border: none;
}

::selection {
    background: #ffe8f2;
    color: #6d6d6d;
}

::-moz-selection {
    background: #ffe8f2;
    color: #6d6d6d;
}

/* General */
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

address {
    margin: 0;
}

a {
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px 0;
}

h1 {
    font-size: 26px;
    line-height: 30px;
}

h2 {
    font-size: 22px;
    line-height: 28px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
}

h4 {
    font-size: 16px;
    margin-bottom: 8px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.lead {
    font-size: 16px;
    line-height: 28px;
}

.thin {
    width: 80%;
    margin: 0 auto;
}

ul {
    padding: 0 0 0 18px;
}

ol {
    padding: 0 0 0 20px;
}

/* Utility */
.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }

.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }

.pt10 { padding-top: 10px !important; }
.pt20 { padding-top: 20px !important; }
.pt30 { padding-top: 30px !important; }
.pt40 { padding-top: 40px !important; }
.pt50 { padding-top: 50px !important; }

.pb10 { padding-bottom: 10px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb50 { padding-bottom: 50px !important; }

.break { display: block; }
@media (min-width: 768px) {
    .break { display: inline; }
}

/* Layout */
#header {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: none;
    border-bottom: 10px solid #fcebf5;
}

#main {
    margin: 0 0 30px 0;
    width: 100%;
    background: #fff;
}

#content {
    background: #fff;
}

#footer-wrapper {
    padding: 20px 0 10px;
    width: 100%;
    border-top: 5px solid #ff8ec1;
    background: #ff65ab;
    color: #fff
}

/* Header */
#header {
    min-height: 90px
}

#header .navbar-brand {
    margin: 0;
    padding: 0;
    width: 300px;
}

#header .navbar-brand img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    #header {
        min-height: 60px
    }

    #header .navbar-brand {
        padding: 0;
        width: 250px;
        height: auto;
        margin-left: 10px
    }
}

#header .information {
    float: right;
    text-align: right;
    padding-top: 5px;
}

#header .information .tel {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    font-family: Verdana sans-serif;
    color: #ff65ab
}

/* Footer */
#footer-wrapper a {
    color: #fff
}

#footer-wrapper .information {
    text-align: right
}

#footer-wrapper .information .tel {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    font-family: Verdana sans-serif;
    color: #fff
}

#footer-wrapper .information .tel a {
    text-decoration: none
}

@media (max-width: 767px) {
    #footer-wrapper .footer-nav {
        width: 230px;
        margin: 0 auto;
        padding: 0 0 10px 0
    }

    #footer-wrapper .information {
        margin: 10px 0;
        text-align: center
    }
}

#footer-bottom {
    padding: 5px 0 0 0
}

/* Landing content */
#landing-content {
    position: relative;
}
#landing-content:before,
#landing-content:after {
    display: table;
    content: ' ';
}
#landing-content:after {
    clear: both;
}
#landing-content img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    #landing-content .container {
        width: 740px;
    }
}

/* Section */
.section {
    margin-bottom: 30px;
}
.section:before,
.section:after {
    display: table;
    content: ' ';
}
.section:after {
    clear: both;
}
.section .section-body {
    margin-bottom: 20px;
}

/* Masthead */
#masthead {
    position: relative;
    border-bottom: 10px solid #fcebf5;
    background: #ff65ab;
}
#masthead .container {
    padding-left: 0;
    padding-right: 0;
}

/* Point */
.point {
    position: relative;
}
@media (min-width: 992px) {
    .point .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.point .point-item {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}

/* Contact banner */
.contact-banner {
    position: relative;
    text-align: center;
}

/* Landing wizard */
#form-wizard {
    position: relative;
    margin-top: 70px;
}
@media (min-width: 768px) {
    #form-wizard .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media (max-width: 480px) {
    #form-wizard {
        margin-top: 30px;
    }
}
#form-wizard .form-box {
    position: relative;
    padding: 0 5px 5px 5px;
    background: #ff65ab;
    border-radius: 17px;
}
#form-wizard .form-box .form-title {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    height: 55px;
    text-align: right;
}
#form-wizard .form-box .form-title img {
    position: absolute;
    width: 290px;
    bottom: 10px;
    left: -15px;
}
@media (min-width: 768px) {
    #form-wizard .form-box .form-title img {
        left: -30px;
        width: 345px;
        max-width: inherit;
    }
}

#form-wizard .form-box .form-inner {
    padding: 30px 10px;
    background: #ffffff;
    color: #4d4d4d;
    border-radius: 0 0 14px 14px;
}

/* -------------------- */
/* step wizard          */
/* -------------------- */
.wizard {
    display: block;
    width: 100%;
    overflow: hidden;
}
.wizard a {
    outline: 0;
}
.wizard ul {
    margin: 0;
    padding: 0;
    list-style: none !important;
}
.wizard ul > li {
    display: block;
    padding: 0;
}
/* accessibility */
.wizard > .steps .current-info {
    position: absolute;
    left: -999em;
}
.wizard > .content > .title {
    position: absolute;
    left: -999em;
}
/* wizard */
.wizard > .steps {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    overflow: hidden;
}
.wizard > .steps > .steps-title {
    float: left;
    display: inline-block;
    margin-right: 5px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    color: #ff65ab;
}
.wizard > .steps .number {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.wizard > .steps > ul > li {
    position: relative;
    width: auto;
    margin-right: 25px;
}
.wizard > .steps > ul > li:last-child {
    margin-right: 0;
}
.wizard > .steps > ul > li:after {
    position: absolute;
    content: '';
    margin-top: -6px;
    top: 50%;
    right: -16px;
    width: 12px;
    height: 12px;
    border-top: 2px solid #4d4d4d;
    border-right: 2px solid #4d4d4d;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.wizard > .steps > ul > li:last-child:after {
    content: none;
}
.wizard > .steps > ul > li,
.wizard > .actions > ul > li {
    float: left;
}
.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    text-decoration: none;
}
.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
    color: #4d4d4d;
    cursor: default;
}
.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
    color: #ff65ab;
    cursor: default;
}
.wizard > .steps .current .number {
    background: #ff65ab;
    color: #ffffff;
}
.wizard > .steps .done .number {
    background: #fcebf5;
    color: #cccccc;
}
.wizard > .steps .error .number {
    background: #ff3111;
    color: #ffffff;
}

.wizard > .content {
    position: relative;
    display: block;
    margin: 20px 0;
    width: auto;
    height: 100%;
    overflow: hidden;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.wizard > .content > .body {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}
.wizard > .content > .body .question {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 320px) {
    .wizard > .content > .body .question {
        font-size: 12px;
    }
}
.wizard > .content > .body .question span {
    font-size: 12px;
}
.wizard > .content > .body .row {
    margin-left: -5px;
    margin-right: -5px;
}
.wizard > .content > .body .col-xs-1,
.wizard > .content > .body .col-xs-2,
.wizard > .content > .body .col-xs-3,
.wizard > .content > .body .col-xs-4,
.wizard > .content > .body .col-xs-5,
.wizard > .content > .body .col-xs-6,
.wizard > .content > .body .col-xs-7,
.wizard > .content > .body .col-xs-8,
.wizard > .content > .body .col-xs-9,
.wizard > .content > .body .col-xs-10,
.wizard > .content > .body .col-xs-11,
.wizard > .content > .body .col-xs-12 {
    padding-left: 5px;
    padding-right: 5px;
}
.form-horizontal .form-group {
    margin-left: -5px;
    margin-right: -5px;
}
.wizard > .content > .body .form-group label {
    margin-bottom: 0;
    padding-top: 10px;
}
.wizard > .content > .body .form-control {
    padding: 3px 10px;
    height: 40px;
    font-size: 14px;
    border: 3px solid #ff65ab;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.wizard > .content > .body .input-group-addon {
    font-weight: bold;
    border: none;
    background: transparent;
}
.wizard > .content > .body .help-block {
    display: block;
    margin-bottom: 0;
    color: #ff65ab;
}
.wizard > .content > .body label {
    font-size: 14px;
}
.wizard > .content > .body .radio,
.wizard > .content > .body .checkbox {
    position: relative;
    padding: 0;
}
.wizard > .content > .body .checkbox label {
    display: block;
    margin: 0 0 10px 0;
    padding: 10px 5px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #ff8ec1;
    background: #ffffff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.wizard > .content > .body .checkbox input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
    clip: rect(0,0,0,0);
}
.wizard > .content > .body .checkbox input[type="checkbox"]:checked + label,
.wizard > .content > .body .checkbox label:hover {
    background: #ff8ec1;
    color: #ffffff;
}
.wizard > .content > .body .radio-style {
    position: relative;
    display: table;
    width: 100%;
}
.wizard > .content > .body .radio-style .radio {
    position: relative;
    display: table-cell;
    text-align: center;
    width: 25%;
    height: 80px;
}
.wizard > .content > .body .radio-style .radio:after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 6px;
    top: 57px;
    left: 0;
    background: #ff8ec1;
}
.wizard > .content > .body .radio-style .radio:first-child:after {
    width: 50%;
    left: 50%;
}
.wizard > .content > .body .radio-style .radio:last-child:after {
    width: 50%;
    right: 50%;
}
.wizard > .content > .body .radio-style .radio label {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: #4d4d4d;
    z-index: 9;
}
.wizard > .content > .body .radio-style .radio:hover label {
    color: #ff8ec1;
}
.wizard > .content > .body .radio-style .radio input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
.wizard > .content > .body .radio-style .radio .check {
    display: block;
    position: absolute;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    top: 40px;
    left: 50%;
    border: 2px solid #4d4d4d;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 5;
}
.wizard > .content > .body .radio-style .radio:hover .check {
    border: 2px solid #ff8ec1;
}
.wizard > .content > .body .radio-style .radio .check:before {
    display: block;
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    top: 5px;
    left: 5px;
    margin: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.wizard > .content > .body .radio-style .radio input[type="radio"]:checked ~ .check {
    border: 2px solid #ff8ec1;
}
.wizard > .content > .body .radio-style .radio input[type="radio"]:checked ~ .check:before {
    background: #ff8ec1;
}
.wizard > .content > .body .radio-style .radio input[type="radio"]:checked ~ label {
    color: #ff8ec1;
}

.wizard > .actions {
    position: relative;
    display: block;
    width: 100%;
}
.wizard > .actions > ul {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.wizard > .actions > ul > li {
    float: left;
    width: 50%;
}
.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
    background: #ff65ab;
    color: #ffffff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
    background: #eeeeee;
    color: #4d4d4d;
}

.wizard > .loading {}
.wizard > .loading .spinner {}

#landing-form .actions {
    display: block;
    width: 100%;
}
#landing-form .actions .row {
    margin-left: -5px;
    margin-right: -5px;
}
#landing-form .actions .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
}
#landing-form .actions .btn {
    padding: 10px 5px;
    height: auto;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#landing-form .actions .btn-block+.btn-block {
    margin-top: 0;
}
#landing-form .actions .btn span {
    position: relative;
}
#landing-form .actions #stepsPrev {
    background: #999999;
    color: #ffffff;
    box-shadow: 0 10px 0 #808080;
}
#landing-form .actions #stepsPrev:active {
    background: #808080;
}
#landing-form .actions #stepsNext {
    font-size: 22px;
    background: #ff8ec1;
    color: #ffffff;
    box-shadow: 0 10px 0 #ff65ab;
}
#landing-form .actions #stepsNext:active {
    background: #ff65ab;
}
#landing-form .actions #stepsFinish {
    display: none;
    font-size: 22px;
    background: #ff8ec1;
    color: #ffffff;
    box-shadow: 0 10px 0 #ff65ab;
}
#landing-form .actions #stepsFinish:active {
    background: #ff65ab;
}
#landing-form .actions #stepsPrev.disabled {
    background: #cccccc;
    box-shadow: 0 10px 0 #aaaaaa;
}
#landing-form .actions #stepsPrev span:before {
    position: absolute;
    display: block;
    content: ' ';
    margin-top: -10px;
    top: 50%;
    left: -35px;
    width: 20px;
    height: 20px;
    border-top: 10px solid transparent;
    border-right: 15px solid #ffffff;
    border-bottom: 10px solid transparent;
    border-left: 15px solid transparent;
}
#landing-form .actions #stepsPrev span {
    margin-right: -10px;
}
#landing-form .actions #stepsNext span:after {
    position: absolute;
    display: block;
    content: ' ';
    margin-top: -10px;
    top: 50%;
    right: -40px;
    width: 24px;
    height: 24px;
    border-top: 12px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 17px solid #ffffff;
}
#landing-form .actions #stepsNext span {
    margin-left: -10px;
}
#CustomerZip {
    display: inline-block;
    width: 100%;
}
#CustomerEmail {
    font-size: 12px;
}
#CustomerBirthYearYear {
    display: inline-block;
    width: 55%;
}
.zip .addon {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #ff65ab;
}
.birth .addon {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .wizard > .steps {
        width: 370px;
    }

    .wizard > .steps > .steps-title {
        height: 40px;
        font-size: 28px;
        line-height: 40px;
    }

    .wizard > .steps > ul > li {
        margin-right: 40px;
    }

    .wizard > .steps > ul > li:after {
        right: -24px;
    }

    .wizard > .steps .number {
        width: 40px;
        height: 40px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 1px;
    }

    .wizard > .content > .body .question {
        font-size: 28px;
    }
    .wizard > .content > .body .question span {
        font-size: 20px;
    }
    .wizard > .content > .body .form-group label {
        font-size: 18px;
    }
    .wizard > .content > .body .form-control {
        height: 40px;
        font-size: 14px;
    }

    .wizard > .content > .body .radio-style .radio label {
        font-size: 18px;
    }
    .wizard > .content > .body .help-block {
        display: inline-block;
    }

    #CustomerZip {
        width: 55%;
    }

    .zip .addon {
        font-size: 18px;
    }
    .birth .addon {
        font-size: 18px;
    }


    #landing-form .actions ul > li {
        float: left;
        margin-bottom: 0;
        width: 50%;
    }

    #landing-form .actions ul > li.prev {
        padding-right: 10px;
    }
    #landing-form .actions ul > li.next {
        padding-left: 10px;
    }
    #landing-form .actions ul > li.finish {
        padding-left: 10px;
    }
    #landing-form .actions ul > li .btn {
        height: 90px;
    }
    .form-horizontal .control-label {
        text-align: left;
    }
}

/* validation engine */
.formError.inline .formErrorContent {
    margin-bottom: 10px;
    font-size: 12px;
    background: #ff3111;
}

/* Thanks */
#thanks {
    position: relative;
    margin-top: 70px;
    margin-bottom: 40px;
}
@media (min-width: 768px) {
    #thanks .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media (max-width: 480px) {
    #thanks {
        margin-top: 30px;
    }
}
#thanks .thanks-box {
    position: relative;
    padding: 0 10px 10px 10px;
    background: #ff65ab;
    border-radius: 20px;
}
#thanks .thanks-box .thanks-title {
    position: relative;
    display: block;
    margin: 0;
    padding: 20px;
    height: 70px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

#thanks .thanks-box .thanks-inner {
    padding: 30px 25px;
    background: #ffffff;
    color: #4d4d4d;
    border-radius: 0 0 12px 12px;
}
#thanks .thanks-box .thanks-inner p {
    font-size: 18px;
}

/* single page */
.page-header {
    position: relative;
    margin: 30px 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background: #ff65ab;
    border-bottom: 5px solid #ff98c7
}

.page-header a {
    display: block;
    color: #fff;
    text-decoration: none
}

.page-header a span {
    position: absolute;
    right: 20px;
    top: 10px
}

.table > tbody > tr > th {
    width: 25%;
    background: #ffeff6
}

