<?php echo $this->set('title_for_layout', '利用規約'); ?>
<div class="section">
	<h2 class="page-header">利用規約</h2>
	<p>この利用規約（以下、「本規約」といいます。）は、株式会社ALC（株式会社アルク）（以下、「当社」といいます。）が提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約について、ご承諾の上で申し込みいただきまうよう宜しくお願いいたします。</p>

	<div class="section-body">
		<h3 class="page-title">第1条（適用）</h3>
		<p>本規約は、ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>
	</div>

	<div class="section-body">
		<h3 class="page-title">第2条（利用登録）</h3>
		<p>登録希望者が当社の定める方法によって利用登録を申請し、当社がこれを承認することによって、利用登録が完了するものとします。</p>
		<p>当社は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。</p>
		<ul class="list-unstyled list-indent">
			<li>（1）利用登録の申請に際して虚偽の事項を届け出た場合</li>
			<li>（2）本規約に違反したことがある者からの申請である場合</li>
			<li>（3）その他、当社が利用登録を相当でないと判断した場合</li>
		</ul>
	</div>

	<div class="section-body">
		<h3 class="page-title">第3条（ユーザー） </h3>
		<p>ユーザーとは、本規約および「個人情報の取り扱いについて」の内容に同意の上、本サービスの利用を申し込み、かつ当社が本サービスの利用を承認した方をいいます。</p>
		<p>また、本サービスの利用を申し込んだ時点で本規約の内容および「個人情報の取り扱いについて」の内容をすべて承諾したものとみなします。</p>
	</div>

	<div class="section-body">
		<h3 class="page-title">第4条（本サービスの利用申し込みと審査）</h3>
		<ul class="list-unstyled list-indent">
			<li>（1）本サービス利用のお申し込み方法は、迅速な事務手続を行う関係上、広告または当社転職支援サイト、人材紹介会社情報サイトにおいて指定した方法によるものとし、その他の方法によるお申し込みは受付けられないものとします。</li>
			<li>（2）当社は、申し込まれた方について審査を行うことがあり、この場合、当社が承認した場合にのみ、本サービスの利用申し込みが完了します。</li>
			<li>（3）当社は、本サービス利用の申し込みをされた方について、本サービスを提供することが不適切と判断した場合、いつでもその利用をお断りすることができるものとします。また、その判断に関する質問等への回答およびその他一切の対応を行う義務はないものとします。</li>
			<li>（4）前各項に掲げる内容から発生する一切の損害について、当社は何らその責任を負わないものとします。</li>
		</ul>
	</div>

	<div class="section-body">
		<h3 class="page-title">第5条（禁止事項）</h3>
		<p>ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。</p>
		<ul class="list-unstyled list-indent">
			<li>（1）法令または公序良俗に違反する行為</li>
			<li>（2）犯罪行為に関連する行為</li>
			<li>（3）当社のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
			<li>（4）当社のサービスの運営を妨害するおそれのある行為</li>
			<li>（5）他のユーザーに関する個人情報等を収集または蓄積する行為</li>
			<li>（6）他のユーザーに成りすます行為</li>
			<li>（7）当社のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
			<li>（8）その他、当社が不適切と判断する行為</li>
		</ul>
	</div>

	<div class="section-body">
		<h3 class="page-title">第6条（本サービスの提供の停止等）</h3>
		<p>当社は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
		<ul class="list-unstyled list-indent">
			<li>（1）本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
			<li>（2）地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</li>
			<li>（3）コンピュータまたは通信回線等が事故により停止した場合</li>
			<li>（4）その他、当社が本サービスの提供が困難と判断した場合</li>
		</ul>
		<p>当社は、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害について、理由を問わず一切の責任を負わないものとします。</p>
	</div>

	<div class="section-body">
		<h3 class="page-title">第7条（利用制限および登録抹消）</h3>
		<p>当社は、以下の場合には、事前の通知なく、ユーザーに対して、本サービスの全部もしくは一部の利用を制限し、またはユーザーとしての登録を抹消することができるものとします。</p>
		<ul class="list-unstyled list-indent">
			<li>（1）本規約のいずれかの条項に違反した場合</li>
			<li>（2）登録事項に虚偽の事実があることが判明した場合</li>
			<li>（3）その他、当社が本サービスの利用を適当でないと判断した場合</li>
		</ul>
		<p>当社は、本条に基づき当社が行った行為によりユーザーに生じた損害について、一切の責任を負いません。</p>
	</div>

	<div class="section-body">
		<h3 class="page-title">第8条（サービス内容の変更等）</h3>
		<p>当社は、ユーザーに通知することなく、本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし、これによってユーザーに生じた損害について一切の責任を負いません。</p>
	</div>

	<div class="section-body">
		<h3 class="page-title">第9条（ユーザーの責任と免責事項）</h3>
		<ul class="list-unstyled list-indent">
			<li>（1）本サービスの利用は、ユーザーが自己の責任にもとづいて行うものとします。</li>
			<li>（2）ユーザーは、本サービスの利用に際し、当社に提供した情報について一切の責任を負うものとします。</li>
			<li>（3）ユーザーの本サービスの利用が、必ず転職に成功する等の有効性を保証するものではありません。</li>
			<li>（4）ユーザーは、ユーザーの責任において、入職・入社後の仕事内容や労働条件を直接求人施設・企業に確認し雇用契約を結ぶものとします。当社は求人施設・企業に確認を行なうものの当該雇用契約の内容を最終的に保障するものではありません。</li>
			<li>（5）当社は、本サービスの利用にあたりユーザーに生じた一切の損害について責任を負わないものとします。</li>
		</ul>
	</div>

	<div class="section-body">
		<h3 class="page-title">第10条（損害賠償）</h3>
		<p>ユーザーが本サービスの利用に際し、当社、当社の関係者または第三者に対し損害を与えた場合、ユーザーはその損害を賠償し、当社を免責するものとします。</p>
	</div>

	<div class="section-body">
		<h3 class="page-title">第11条（本規約の変更）</h3>
		<p>当社は、必要と判断した場合には、ユーザーに通知することなくいつでも本規約を変更することができるものとします。</p>
	</div>

	<div class="section-body">
		<h3 class="page-title">第12条（通知または連絡）</h3>
		<p>ユーザーと当社との間の通知または連絡は、当社の定める方法によって行うものとします。</p>
	</div>

	<div class="section-body">
		<h3 class="page-title">第13条（準拠法・裁判管轄）</h3>
		<p>本規約の解釈にあたっては、日本法を準拠法とします。</p>
		<p>本サービスに関して紛争が生じた場合には、当社の本店所在地を管轄する裁判所を専属的合意管轄とします。</p>
	</div>

	<div class="section-body">
		<p>【株式会社ALC（アルク）法務部】</p>
		<p>〒540-0029 大阪府大阪市中央区本町橋5-14オージービル本町橋5階</p>
		<p>TEL:06-6360-9505</p>
	</div>
</div>

<?php

$this->start('sidebox-pc');
echo $this->element('support');
echo $this->element('search_link');
echo $this->element('guide');
echo $this->element('blog');
echo $this->element('search_form');
echo $this->element('categories');
$this->end();

$this->start('sidebox-sp');
$this->end();
