.modal_window *{
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

.modal_content{
    font-size: 10px;
    overflow-y: scroll;
}

body{
    transition:.3s;
}

body .modal_window {
    font-size: 1.5em;
    line-height: 1.7;
    width: 100%;
    min-width: 320px;
    word-wrap: break-word;
    background-color: rgba(0,0,0,.5);
    -webkit-text-size-adjust: 100%;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .modal_window,.modal_window button,.modal_window input,.modal_window select,.modal_window textarea{
    font-family: Helvetica, Arial, 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3",
     "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.modal_window h1,.modal_window h2,.modal_window h3,.modal_window h4,.modal_window h5,.modal_window h6 {
    line-height: 1.4;
}

.modal_window a {
    transition: opacity .3s;
    text-decoration: none;
}

.modal_window a, body .modal_window {
    color: #444;
}

.modal_window *,.modal_window .slick-slider,.modal_window :after,.modal_window :before {
    box-sizing: border-box;
}

.modal_window form {
    display: block;
    margin-top: 0em;
}

.modal_window label {
    cursor: pointer;
}

.modal_window button, .modal_window input, .modal_window select, .modal_window textarea {
    border: none;
    border-radius: 0;
    outline: 0;
    background: 0 0;
    -webkit-appearance: none;
    appearance: none;
    -moz-outline-style: none;
}

.box-select, .box-type1, .box-type2, .box-type4, .box-type5, .box-type6, .ttl-mType4_inner {
    position: relative;
}

.modal {
    position: fixed;
    z-index: 90;
    top: 25px;
    right: 10px;
    left: 10px;
    margin: auto;
    transition: .4s cubic-bezier(.645,.045,.355,1);
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}

form.modal.is-none {
    display:none;
    bottom: 0;
    opacity: 1;
}

.modal.is-show {
    display:block;
    top: 25px;
    bottom: 0;
    opacity: 1;
    transition:.3s;
}

.modal.is-show .modal_foot {
    top: auto;
    bottom: 0;
    opacity: 1;
}

.modal_inner {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.modal_head {
    display: -ms-flexbox;
    display: flex;
    padding: 20px 20px 17px;
    border-radius: 10px 10px 0 0;
    -ms-flex-align: center;
    align-items: center;
}

.modal_headTit {
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.1;
    padding-right: 10px;
    color: #786a5b;
}

.modal_headLink {
    font-size: .86666666em;
    margin-left: 15px;
}

.modal_headLink a {
    font-weight: 700;
    color: #786a5b;
}

.modal_body {
    padding: 20px 20px 17px;
    border-radius: 0 0 10px 10px;
}

.modal_foot {
    position: fixed;
    z-index: 91;
    top: 100%;
    right: 10px;
    left: 10px;
    margin: auto;
    padding: 10px;
    transition: .4s cubic-bezier(.645,.045,.355,1);
    opacity: 0;
}

.modal-foot {
    padding-bottom: 74px;
}

.modal_footResult {
    font-size: .933333333em;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.modal_footResult span {
    font-size: 1.71428571em;
    display: inline-block;
    padding: 0 10px;
}

.modal_footResult span.modal_footResultTxt {
    font-size: .933333333rem;
    padding: 0;
}

.modal_footSubmit {
    height: 55px;
}

.modal_footSubmit>* {
    height: 100%;
}

.modal_close {
    position: absolute;
    z-index: 10;
    top: -15px;
    right: -5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    text-align:center;
}

.modal_close, .modal_foot {
    background-color: #e87f17;
}

.ttl-m {
    font-size: 1.2rem;
    position: relative;
    margin-bottom: 10px;
    padding: 5px 0 3px 12px;
}

.ttl-m:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #e87f17;
}

.ttl-m_sub {
    font-size: .8em;
}

.ttl-lType2, .ttl-m {
    font-weight: 700;
    color: #786a5b;
}

.ttl-l:after, .ttl-m:before {
    left: 0;
    border-radius: 2px;
    content: '';
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-12 {
    width: 100%;
}

.l-grid {
    display: -ms-flexbox;
    display: flex;
    margin-right: -8px;
    margin-left: -8px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.l-grid-ali-xs-c {
    -ms-flex-align: center;
    align-items: center;
}

.l-grid-margin-xs-3 {
    margin-right: -3px;
    margin-left: -3px;
}

.l-grid_col {
    padding-right: 8px;
    padding-left: 8px;
}

.l-grid-margin-xs-3 .l-grid_col {
    padding-right: 3px;
    padding-left: 3px;
}

.input-checkbox input[type=checkbox] {
    display: none;
    outline: 0;
}

.input-checkboxInner {
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    padding-left: 36px;
    text-align: left;
    color: #786a5b;
    border-radius: 5px;
    background-color: #f4f3ef;
    -ms-flex-align: center;
    align-items: center;
}

.input-checkboxIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 20px;
    height: 20px;
    margin: auto;
    border: 2px solid #c4c2bc;
    border-radius: 2px;
    background-color: #fff;
}

.input-checkboxTxt {
    font-size: .933333333em;
}

.input-checkbox3Inner, .input-checkboxInner {
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    cursor: pointer;
}

.input-radio input[type=radio] {
    display: none;
    outline: 0;
}

.input-radio input[type=radio]:checked+.input-radioInner {
    background-color: #fff6db;
}

.input-radioInner {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #f4f3ef;
    align-items: center;
}

.input-radio2Inner, .input-radioInner {
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;
    color: #786a5b;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.input-checkbox4Inner, .input-radioInner {
    padding-left: 36px;
    text-align: left;
    -ms-flex-align: center;
}

.input-radioIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 20px;
    height: 20px;
    margin: auto;
    border: 2px solid #c4c2bc;
    border-radius: 100%;
    background-color: #fff;
}

.input-radio input[type=radio]:checked+.input-radioInner .input-radioIcon:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    content: '';
    border-radius: 100%;
    background-color: #e87f17;
}

.input-radio2Inner:before, .select:after {
    font-family: icon!important;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    color: #e87f17;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    font-style: normal;
    font-variant: normal;
}

.modal_window .input-txt {
    font-size: 1.06666666em;
    line-height: 40px;
    height: 42px;
    padding: 0 14px;
    border: 2px solid #e1ded6;
}

.u-d-bl {
    display: block;
}

.u-d-n {
    display: none;
}

.u-mb-xs-5 {
    margin-bottom: 5px;
}

.u-mb-xs-10 {
    margin-bottom: 10px;
}

.u-fz-xs-12rem {
    font-size: .8em;
}

.u-mb-xs-15 {
    margin-bottom: 15px;
}

.u-mb-xs-25 {
    margin-bottom: 25px;
}

.u-mb-xs-30 {
    margin-bottom: 30px;
}

.select {
    position: relative;
    display: block;
    border: 2px solid #e1ded6;
}

.select:before {
    right: 5px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background-color: #fff6db;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.select:after {
    right: 15px;
    display: inline-block;
    height: 17px;
    width:17px;
    padding-left:3px;
}

.select:after, .select:before {
    position: absolute;
    top: 0;
    margin: auto;
    pointer-events: none;
    bottom: 0;
}

.select select {
    font-size: 1.06666666em;
    line-height: 40px;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 45px 0 10px;
    text-indent: .01px;
    background-color: #fff;
    appearance: button;
    -moz-appearance: none;
}

.modal_window .btn-m {
    font-size: 1.06666666em;
    font-weight: 700;
    line-height: 1.4;
    width: 100%;
    max-width: 335px;
    padding: 16px 23px 13px 16px;
    cursor: pointer;
    text-align: center;
    color: #786a5b;
    border-radius: 5px;
    background-color: #fff6db;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.btn-m:before {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    height: 1em;
    margin: auto;
    content: '\EA03';
    color: #e87f17;
}

.btn-m, .btn-m:before {
    display: inline-block;
}

.btn_inner {
    position: relative;
    display: inline-block;
}

.absearch{
    position:absolute;
    top:-33px;
    left:-70px;
    width:180px;
    height:55px;
    text-align:left;
    line-height:55px;
}

.absearch .search_icon{
    display: inline-block;
    margin-top:5px;
}

.absearch p{
    position:absolute;
    display: inline-block;
    height:55px;
}

.btn_inner img{
    position: relative;
    display: inline-block;
}

.btn-rosen:after, .btn-m:before, .l-contentsHead_qaTit:after {
    font-family: icon!important;
    font-style: normal;
    font-variant: normal;
    vertical-align: middle;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-m, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1,
.col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2,
.col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
}

.box-select, .box-type1, .box-type2, .box-type4, .box-type5, .box-type6, .ttl-mType4_inner {
    position: relative;
}

.box-select:before {
    right: 5px;
    width: 34px;
    height: 34px;
    content: '';
    border-radius: 100%;
    background-color: #fff6db;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.box-select:after {
    font-family: icon!important;
    font-weight: 400;
    line-height: 1;
    right: 15px;
    display: inline-block;
    height: 1.5rem;
    content: '\EA01';
    color: #e87f17;
}

.box-select:after, .box-select:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    margin: auto;
}

.box-select:after, .link-right:before {
    font-style: normal;
    font-variant: normal;
    vertical-align: middle;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-selectItem {
    display: block;
    width: 100%;
    border: 2px solid #e1ded6;
}

.box-selectItem a {
    line-height: 40px;
    display: block;
    height: 40px;
    padding: 0 50px 0 10px;
    color: #999;
}

.box-type3 {
    padding: 10px 8px;
    border-right: #e1ded6 2px solid;
    border-bottom: #e1ded6 2px solid;
    border-left: #e1ded6 2px solid;
}

.btn-search2 {
    font-size: 1.1333333333em;
}

.btn-search2 [class^=svg-] {
    font-size: 1.533333333rem;
    line-height: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 2.3rem;
    margin: auto auto auto -25px;
}

.modal_window .btn-search, .modal_window .btn-search2 {
    padding: 12px 4px 9px 18px;
}

.btn-search2:before, .btn-type2:before, .btn-type3:before, .btn-type5:before {
    display: none;
}

.is-inquiryForm select.enq_input_adress, .select select {
    text-overflow: '';
    -webkit-appearance: button;
}

.bnr-board:before, .bnr-board_logo:before, .select:before {
    content: '';
}

.application_head, .link-toggle.is-show .cassette_head, .modal_head {
    border-bottom: #f4f3ef 1px solid;
}

.breadcrumb_item a>span, .btn-delete, .modal_headLink a, .u-td-u {
    text-decoration: underline;
}

.card_thumb img, .input-txt {
    width: 100%;
}

.modal_content .modal_window .checked{
    background-color: #fff6db;
    position:relative;
}

.close_icon{
    color:white!important;
    font-size:1.5em!important;
    padding-top:9px;
}

.check_icon{
    color:rgb(232, 127, 23)!important;
    font-size:1em!important;
    position:absolute;
    left:.8em;
}

.chdown_icon{
    color:rgb(232, 127, 23)!important;
    font-size:2em!important;
    position:absolute;
    left:.8em;
}

.chdown{
    pointer-events:none;
    position:absolute;
    right:1.4em;
    top:.5em;
    width:34px;
    height:34px;
}

.select_mbt{
    margin-bottom:10px;
}

@media print, screen and (min-width: 768px){
    .modal_head {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media print, screen and (min-width: 768px){
    .modal_headLink {
        margin-left: 30px;
    }
}

@media print, screen and (min-width: 768px){
    .modal_headTit {
        margin-right: auto;
    }
}

@media print, screen and (min-width: 768px){
    .modal_body, .modal_head {
        padding: 30px 30px 27px;
    }
}

@media  print, screen and (min-width: 768px){
    .modal, .modal_foot {
        right: 0;
        left: 0;
        width: 980px;
    }
}

@media print, screen and (min-width: 768px){
    .col-md-2 {
        width: 16.66666667%;
    }
}

@media print, screen and (min-width: 768px){
    .col-md-3 {
        width: 25%;
    }
}

@media print, screen and (min-width: 768px){
    .col-md-4 {
        width: 33.33333333%;
    }
}

@media print, screen and (min-width: 768px){
    .col-md-6 {
        width: 50%;
    }
}

@media print, screen and (min-width: 768px){
    .u-mb-md-10 {
        margin-bottom: 10px;
    }
}

@media print, screen and (min-width: 768px) {
    .ttl-m {
        font-size: 1.3em;
        margin-bottom: 10px;
    }
}

@media print, screen and (min-width: 768px){
    .l-grid_col {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media print, screen and (min-width: 768px){
    .l-grid-margin-md-5 {
        margin-right: -5px;
        margin-left: -5px;
    }
}

@media print, screen and (min-width: 768px){
    .l-grid-margin-md-5 .l-grid_col {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media print, screen and (min-width: 768px){
    .l-grid-juc-md-c {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media print, screen and (min-width: 768px){
    .box-type3 {
        padding: 0;
        border: none;
    }
}

/* 
    20190530 sohnishi
    hrefを削除したため、cursorを設定
*/
#restbtn {
    cursor: pointer;
}
